root = true

[*.cs]
dotnet_diagnostic.SA1601.severity = none # можна не писати summary для класів.
dotnet_diagnostic.SA1633.severity = none # можна не додавати copyright у початок файлу.
dotnet_diagnostic.SA1200.severity = none # можна розміщувати using-інструкції як до, так і всередині namespace.
dotnet_diagnostic.SA*.severity = warning # 
